.button-container {
  align-self: center;

  display: flex;
  align-items: center;

  cursor: not-allowed;
  border: 1px solid $primary-gray;
  border-radius: 4px;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.15%;
  padding: .5rem 1rem;

  .icon-wrapper {
    display: flex;
    align-items: center;
  }
}
