.common-cmp--button {
  align-self: center;

  display: flex;
  align-items: center;

  cursor: pointer;
  border: 1px solid $primary-gray;
  border-radius: $secondary-border-radius;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: $primary-letter-spacing;
  padding: .5rem 1rem;

  .icon-wrapper {
    display: flex;
    align-items: center;
  }
}
