.common-cmp--text-input {
  position: relative;
  width: 100%;

  @include viewport-wide-start-from($viewport-large) {
    width: 30rem;
  }

  .MuiFormControl-root {
    width: 100%;

    &:focus-within label {
      padding-inline-start: 0;
    }

    label {
      padding-inline-start: 1.5rem;
    }

    input {
      border-radius: $primary-border-radius;
      letter-spacing: $primary-letter-spacing;
      padding-inline-start: 2.5rem;
    }
  }

  .icon-wrapper {
    position: absolute;
    top: 50%;
    left: 0;

    color: $primary-gray;
    margin-inline-start: 1rem;
    transform: translateY(-50%);
  }
}
