.user-setting-cmp--people-preview {
  font-weight: 300;

  @include viewport-wide-start-from($viewport-regular) {
    &:hover > .actions {
      opacity: 1;
    }
  }

  .name {
    display: flex;
    align-items: center;
  }

  .name,
  .status {
    text-transform: capitalize;
  }

  .actions {
    cursor: pointer;
    color: $primary-gray;

    @include viewport-wide-start-from($viewport-regular) {
      opacity: 0;
    }
  }
}
