.user-setting--cmp-status-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid $secondary-blue;
  border-radius: $primary-border-radius;
  font-weight: 700;
  line-height: 1.5;
  padding: 21px;
  width: 154px;

  &.pending .text {
    font-weight: 500;
  }

  .amount {
    font-size: 2rem;
  }

  .text {
    text-align: center;
  }
}
